@import '_typography';

:root {
  --body-background: #F6F8FF;
  --content-background: #FEFEFE;
  --color-primary: #4B6A9B;
  --color-secondary: #697C9A;
  --color-tertiary: #2B3442;
  --color-highlight: #0079FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

.dark-theme {
  --body-background: #141D2F;
  --content-background: #1E2A47;
  --color-primary: #FFFFFF;
  --color-secondary: #FFFFF;
  --color-tertiary: #FFFFFF;
  --color-highlight: #0079FF;  
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-background);
  height: 80vh;
}

.container {
  width: 100%;
  max-width: 327px;
  font-weight: 700;
}

h1, h3 {
    font-weight: 700;
    color: var(--color-tertiary);
}

h1 {
    font-size: 26px;
    line-height: 38px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-weight: 400;
    font-size: 11px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;

  .theme-switch {
    span {
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: var(--color-primary);
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        cursor: pointer;
    }

    i.icon-theme {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-position: center center;
        background-size: cover;
        margin-left: 1em;
    }
    
    i.dark {
        background-image: url('../images/icon-moon.svg');
    }

    i.light {
        background-image: url('../images/icon-sun.svg');
    }
  }
}

.search-container {
    margin-top: 36px;
    background-color: var(--content-background);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    position: relative;

    i {
        display: inline-block;
        margin-left: 16px;
        width: 20px;
        height: 20px;
        background-position: center center;
        background-size: contain;
        background-image: url('../images/icon-search.svg');
    }

    .search-input {
        margin: 0 9px;
        border: none;
        flex-grow: 1;
        line-height: 25px;
        caret-color: var(--color-primary);
        background-color: transparent;

        &::placeholder {
            color: var(--color-primary);
            font-size: 13px;
            opacity: 1;
            position: relative;
        }

        &:focus {
            outline: none;
        }
    }

    .user-not-found {
        display: none;
        position: absolute;
        right: 30%;
        color: #F74646;
        font-weight: 700;
        font-size: 15px;
    }

    button {
        border: none;
        border-radius: 10px;
        padding: 12.5px 16px;
        background-color: var(--color-highlight);
        color: #FFFFFF;
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;

        &:hover {
            background-color: #60ABFF;
        }
    }
}

.user-container {
    background-color: var(--content-background);
    border-radius: 15px;
    margin-top: 31px;
    padding: 32px 24px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 20% 20% 40%;
    font-size: 13px;
    color: var(--color-primary);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    align-items: center;

    .user-avatar {
        grid-area: 1 / 1 / 2 / 2; 
        width: 70px;
        height: auto;
        border-radius: 50%;
    }

    .user-info {
        grid-area: 1 / 2 / 2 / -1;
        padding-left: 19px;

        span {
            display: block;
        }

        span.username {
            color: var(--color-highlight);
        }

        span.date-joined {
            color: var(--color-secondary);
        }
    }

    .user-bio {
        grid-area: 2 / 1 / 3 / -1;
        margin-top: 33px;
        line-height: 25px;
        color: var(--color-primary);
    }

    .user-stats {
        grid-area: 3 / 1 / 4 / -1;
        background-color: var(--body-background);
        display: flex;
        justify-content: space-around;
        padding: 18px 15px;
        border-radius: 10px;
        margin-top: 23px;

        .stats {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 33.3%;

            span {
                font-size: 16px;
                font-weight: 700;
                color: var(--color-tertiary);
                margin-top: 8px;
            }
        }

    }

    .user-social {
        grid-area: 4 / 1 / 5 / -1;
        display: flex;
        flex-direction: column;
        margin-top: 24px;

        .social {
            display: flex;
            margin-bottom: 15px;
        }

        .not-available {
            opacity: .5;
        }

        .icon-social {   
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 15px;
            background-color: var(--color-primary);
            mask-repeat: no-repeat;
            mask-position: center;
        }

        .location {
            background-color: var(--color-primary);
            mask-image: url('../images/icon-location.svg');
            mask-repeat: no-repeat;
            mask-position: center;
        }

        .webpage {
            mask-image: url('../images/icon-website.svg');
        }

        .twitter {
            mask-image: url('../images/icon-twitter.svg');
        }

        .company {
            mask-image: url('../images/icon-company.svg');
        }

        .user {
        }
    }

}


@media screen and (min-width: 768px) {

    body {
        justify-content: center;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 13px;
    }
    
    .container {
        max-width: 573px;
    }

    .search-container {
        padding: 10px;

        .search-input {
            margin: 0 24px;
            font-size: 18px;

            &::placeholder {
                font-size: 18px;
            }
        }

        .user-not-found {
            right: 22%;
        }
        
        button {
            padding: 12.5px 23px;
            font-size: 16px;
        }
    
    }

    .user-container {
        padding: 40px;
        font-size: 15px;

        .user-avatar {
            width: 117px;
        }

        .user-info {
            span.username {
                font-size: 16px;
            }

            span.date-joined {
                margin-top: 4px;
            }
        }

        .user-bio {
            margin-top: 24px;
        }

        .user-stats {
            margin-top: 32px;
            padding: 16px 32px;
            
            .stats {
                align-items: flex-start;

                span {
                    margin-top: 1px;
                    font-size: 22px;
                }
            }

        }

        .user-social {
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 30px;

            .user-twitter {
                padding-left: 20px;
                order: 0;
            }
            
            .user-webpage {
                order: 1;
            }

            .user-company {
                padding-left: 20px;
                order: 2;
            } 

            .social {
                flex-basis: 50%;
            }
        }

    }
}


@media screen and (min-width: 1440px) {
    
    .container {
        max-width: 730px;
    }


    .search-container {
        .user-not-found {
            right: 18%;
        }
    }
    .user-container {
        padding: 48px;
        font-size: 15px;
        grid-template-columns: 25% 75%;
        
        .user-avatar {
            align-self: start;
            grid-area: 1 / 1 / -1 / 1;
        }

        .user-info {
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            h3 {
                order: 0;
                width: 50%;
            }

            span.date-joined {
                order: 1;
                width: 50%;
                text-align: right;
            }

            span.username {
                order: 2;
                margin-top: 2px;
            }
        }

        .user-bio {
            grid-area: 2 / 2 / 2 / -1;
        }

        .user-stats {
            grid-area: 3 / 2 / 3 / -1;
        }

        .user-social {
            margin-top: 37px;
            grid-area: 4 / 2 / 4 / -1;
        }

    }
}